<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Allow PowerShell scripts to be executed as handlers.
         IMPORTANT: Validate the powershell.exe path for your server. -->
    <handlers>
      <add name="PowerShellScriptHandler"
           path="api/grouplookup.ps1"
           verb="GET,POST"
           modules="IsapiModule,StaticFileModule"
           scriptProcessor="C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe -NoProfile -ExecutionPolicy Bypass -File &quot;%s&quot; %s"
           resourceType="File"
           requireAccess="Script" />
    </handlers>

    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
        </hiddenSegments>
        <fileExtensions>
          <add fileExtension=".ps1" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>

    <staticContent>
      <mimeMap fileExtension=".ps1" mimeType="text/plain" />
    </staticContent>
  </system.webServer>
</configuration>